{% macro dropdown(dropdown, actions, request_parameters, translation_domain, trans_parameters, item_id) %}
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle {% if dropdown.css_class is defined %}{{ dropdown.css_class }}{% elseif dropdown.name|default('')|length > 0 %}btn-default{% else %}btn-more{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if dropdown.name|default('')|length > 0 %}
                {{ dropdown.name }} <span class="caret"></span>
            {% else %}
                <span class="fa fa-ellipsis-v"></span>
            {% endif %}
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            {% for action in actions %}
                {{ include('@KRGEasyAdminExtension/default/includes/_action_button.html.twig') }}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% import _self as helper %}

{% for action in actions.actions %}
    {{ include('@KRGEasyAdminExtension/default/includes/_action_button.html.twig') }}
{% endfor %}

{% for key, group in actions.dropdownGroups %}
    {{ helper.dropdown((group|first).menu_dropdown, group, request_parameters, translation_domain, trans_parameters, item_id) }}
{% endfor %}

{% if actions.dropdownGlobal|length > 0 %}
    {{ helper.dropdown('', actions.dropdownGlobal, request_parameters, translation_domain, trans_parameters, item_id) }}
{% endif %}
